CLERK_PUBLISHABLE_KEY=your_value_here
VITE_CLERK_PUBLISHABLE_KEY=your_value_here
CLERK_SECRET_KEY=your_value_here

SUPABASE_DATABASE_URL=your_value_here
SUPABASE_DIRECT_URL=your_value_here
SUPABASE_ANON_KEY=your_value_here
SUPABASE_SERVICE_ROLE_KEY=your_value_here
SUPABASE_DB_PASSWORD=your_value_here

DATABASE_URL=your_value_here
PGHOST=your_value_here
PGPORT=your_value_here
PGUSER=your_value_here
PGPASSWORD=your_value_here
PGDATABASE=your_value_here

SESSION_SECRET=your_value_here
