CLERK_PUBLISHABLE_KEY=pk_test_Y2xvc2Uta29pLTcyLmNsZXJrLmFjY291bnRzLmRldiQ
VITE_CLERK_PUBLISHABLE_KEY=pk_test_Y2xvc2Uta29pLTcyLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=FE1MDm1gwm5FlzABKj 

SUPABASE_DATABASE_URL=https://trbgmgnxifqrdpequuxq.supabase.co/rest/v1/
SUPABASE_DIRECT_URL=https://trbgmgnxifqrdpequuxq.supabase.co/rest/v1/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRyYmdtZ254aWZxcmRwZXF1dXhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0OTc1NTAsImV4cCI6MjA5NDA3MzU1MH0.sLf0rxQPg6Wh3YiEXSC85cK0H3vowetZ1r7th4iDbOU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRyYmdtZ254aWZxcmRwZXF1dXhxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ5NzU1MCwiZXhwIjoyMDk0MDczNTUwfQ.PgGOM0CZ01JZF-syPNF0VGCE3hmS8RKt1XLLvXE53m4
SUPABASE_DB_PASSWORD=suvashmukhiya550

DATABASE_URL=https://trbgmgnxifqrdpequuxq.supabase.co/rest/v1/
PGHOST=your_value_here
PGPORT=your_value_here
PGUSER=your_value_here
PGPASSWORD=your_value_here
PGDATABASE=your_value_here

SESSION_SECRET=dIlVMcA+yt3lU9mIL6MEAQkgQWI7GiN4KkVVGqn9LuAT47l28jPVumJn4ppTDjVgvrvmiYBTigV++OajpwQBew==
